language: python
sudo: false
cache: pip
branches:
  only:
    - master
python:
  - 3.5
  - 3.6
  - "pypy3"
install:
  - pip install coveralls
script:
  - coverage run setup.py test
after_success:
  - coveralls
